<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="Suite">
	<test name="Test">
		<groups>
			<run>
				<include name="testlogin" />
				<include name="smoke" />
				<include name="regression" />
				<include name="golden TC" />
			</run>
		</groups>
		<classes>
			<class name="test.Test_LoginTest" />
			<class name="test.TestRunner" />
		</classes>
	</test>
</suite>